html
{
	font-family: bahnschrift, sans-serif;
	font-stretch: semi-condensed;
	font-size: 2.5vh;
	user-select: none;
}

body
{
	background: #291414;
	color: #ccc;
	overflow: hidden;
}

*
{
	image-rendering: pixelated;
	cursor: default;
}

b
{
	color: #fff;
}

#d {
	transform-origin: 0px 0px 0px;
}

#d, #d * {
	transform-style: preserve-3d;
	position: absolute;
}

#b
{
	width: 400px;
	height: 800px;
	transform: translateY(0) rotateX(90deg) translateX(-200px) translateY(0px);
}
#g *
{
	width: 40px;
	height: 40px;
	position: absolute;
}

#f1, #f2, #f3, #f4
{
	width: 400px;
	height: 200px;
	background: #29141488;
	transform: translateX(-200px) translateY(200px) translateZ(-100px);
}
#f2
{
	transform: translateX(-200px) translateY(200px) translateZ(-150px);
}
#f3
{
	transform: translateX(-200px) translateY(200px) translateZ(-200px);
}
#f4
{
	transform: translateX(-200px) translateY(200px) translateZ(-250px);
}

#s
{
	position: fixed;
	top: 0.3rem;
	left: 0;
	right: 0;
	text-align: center;
}

#s *
{
	padding: 0.2rem 0.5rem;
	transition: all 0.33s;
}

#m
{
	position: fixed;
	top: 2rem;
	left: 2rem;
	right: 2rem;
	background: #0008;
	padding: 1rem;
	text-align: center;
	transition: all 0.15s;
	opacity: 0;
}

#mb
{
	position: fixed;
	top: 6rem;
	right: 2rem;
	width: 10rem;
	background: #000c;
	text-align: center;
	padding: 0.5rem;
	transition: all 0.15s;
	opacity: 0;
}

#w
{
	position: fixed;
	top: 0;
	left: 0;
	height: 1.75rem;
	width: 80%;
	background: #f008;
	animation: w 0.3s infinite;
}

@keyframes w
{
	0% { background: #f008; }
	50% { background: #ff0a; }
	100% { background: #f008; }
}
